.FooterItems {
    padding: 15px 10px;
    width: 100%;

    > h5 {
        font-size: 1.2rem;
        color: #868995;
        width: 100%;
    }

    > ul {
        list-style: none;
        width: 100%;
    }
}