.SignUp {
    width: 100%;
    flex-shrink: 0;

    > h4 {
        text-transform: uppercase;
    }

    > form {
        margin-bottom: 10px;
        width: 100%;
        > .passwordCheck {
            text-align: left;
            padding: 10px;
            width: 100%;
            > p {
                width: 100%;
                font-size: 1rem;
            }
            > ul {
                width: 100%;
                padding: 0 30px;

                > li {
                    width: 100%;
                }
            } 
        }
    }

    > .forgot {
        height: 100px;
        padding-top: 24px;
    }

    
}